@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: auto;
}

body::-webkit-scrollbar {
    width: 10px;
}

/* Track */
body::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.04);
}

/* Handle */
body::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#content::-webkit-scrollbar {
    width: 0;
}

#videos::-webkit-scrollbar {
    width: 0;
}

.tiktok-loader {
    width: 80px;
    height: 40px;
    position: relative;
}

.tiktok-loader::after,
.tiktok-loader::before {
    position: absolute;
    content: '';
    top: 6px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #ff3e9e;
    mix-blend-mode: multiply;
    animation: tiktokLeader 1s linear infinite;
}

.tiktok-loader::after {
    background-color: #4de8f4;
    animation-delay: 0.5s;
}

@keyframes tiktokLeader {
    0%,
    100% {
        top: 6px;
        left: 0;
        width: 28px;
        height: 28px;
        z-index: 0;
    }

    25% {
        top: 0;
        height: 40px;
        width: 40px;
        z-index: 1px;
        left: 20px;
    }

    50% {
        top: 6px;
        width: 28px;
        height: 28px;
        left: 48px;
    }

    75% {
        top: 8px;
        width: 28px;
        height: 28px;
        left: 26px;
    }
}
